/ListaDeExercicios01/SubtitucaoVetor01/nbproject/private/
/ListaDeExercicios01/SubtitucaoVetor01/build/
/ListaDeExercicios01/PreenchimentoVetor01/nbproject/private/
/ListaDeExercicios01/PreenchimentoVetor01/build/
/ListaDeExercicios01/PreenchimentoVetor01/dist/
/ListaDeExercicios01/SelecaoVetor01/nbproject/private/
/ListaDeExercicios01/SelecaoVetor01/build/
/ListaDeExercicios01/SelecaoVetor01/dist/
/ListaDeExercicios01/TrocaVetor01/nbproject/private/
/ListaDeExercicios01/TrocaVetor01/build/
/ListaDeExercicios01/TrocaVetor01/dist/
/ListaDeExercicios01/PreenchimentoVetor04/nbproject/private/
/ListaDeExercicios01/PreenchimentoVetor04/build/
/ListaDeExercicios01/PreenchimentoVetor04/dist/
/ListaDeExercicios02/LinhaMatriz/nbproject/private/
/ListaDeExercicios02/LinhaMatriz/build/
/ListaDeExercicios02/LinhaMatriz/dist/
/ListaDeExercicios02/PrimeiroDicionarioSamuel/nbproject/private/
/ListaDeExercicios02/PrimeiroDicionarioSamuel/build/
/ListaDeExercicios02/PrimeiroDicionarioSamuel/dist/
/ListaDeExercicios02/colunaMatriz/nbproject/private/
/ListaDeExercicios02/colunaMatriz/build/
/ListaDeExercicios02/colunaMatriz/dist/
/ListaDeExercicios02/acimaDiagonalPrincipal/nbproject/private/
/ListaDeExercicios02/areaDireta/nbproject/private/
/ListaDeExercicios02/acimaDiagonalPrincipal/build/
/ListaDeExercicios02/areaDireta/build/
/ListaDeExercicios02/areaDireta/dist/
/ListaDeExercicios02/listadeChamada/nbproject/private/
/ListaDeExercicios02/listadeChamada/build/
/ListaDeExercicios02/listadeChamada/dist/
/ListaDeExercicios02/ordenacaoTamanho/nbproject/private/
/ListaDeExercicios02/PRATICA/nbproject/private/
/ListaDeExercicios02/PRATICA/build/
/ListaDeExercicios02/PRATICA/dist/
/ListaDeExercicios02/ordenacaoTamanho/build/
/ListaDeExercicios02/ordenacaoTamanho/dist/
